@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes slideIn {
    0% {
      width: 0%;
    }
    100% {
      width: 80%; 
    }
  }
  
  @keyframes htmlAnimation {
    from {
      width: 0%;
    }
    to {
      width: 80%; 
    }
  }
  
  @keyframes cssAnimation {
    from {
      width: 0%;
    }
    to {
      width: 70%; 
    }
  }
  
  @keyframes jsAnimation {
    from {
      width: 0%;
    }
    to {
      width: 20%; 
    }
  }
  
  @keyframes reactAnimation {
    from {
      width: 0%;
    }
    to {
      width: 40%; 
    }
  }
  
  .fill-animation {
    animation-fill-mode: forwards; 
  }
  
  .html-animation {
    animation: htmlAnimation 2s forwards;
  }
  
  .css-animation {
    animation: cssAnimation 2s forwards;
  }
  
  .js-animation {
    animation: jsAnimation 2s forwards;
  }
  
  .react-animation {
    animation: reactAnimation 2s forwards;
  }
  
  